<h1>Hi {{vm.user.userName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>
<div class="row">
    <div class="col-md-6">
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.userName}}
        - <a ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
    </div>
    <div class="col-md-6">
        <div class="container">
            <div class="calculator"  >
                <input type="text" ng-model="num1">
                <div class="row "></div>
                <input type="text" ng-model="num2" >
                <button class="key" type="button" ng-click="onClickAdd(num1,num2)">+</button>
                <div class="row "></div>
            </div>
            <div class="calculator">
                <label style="color: #000000">{{output}}
                </label>
            </div>

        </div>
    </div>
</div>
<p>&nbsp;</p>
<p><a href="#!/login" class="btn btn-primary">Logout</a></p>